body {
    font: normal 16px Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
    cursor: pointer;
    text-decoration:none;
}

.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}

.tree ul {
    margin-left:1em;
    position:relative
}

.tree ul ul {
    margin-left:.5em
}

.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    margin-left: 1em;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}

.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    position:relative
}

.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:1px;
    position:absolute;
    margin-left: 1em;
    top:1em;
    left:0;
}
.tree ul li .open-ul:before, .tree ul li .close-ul:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    margin-top: -7px;
    position: absolute;
    margin-left: 1em;
    top: 1em;
    left: 12px;
    border-width: 8px 0 8px 8px;
    border-style: solid;
    border-color: transparent #369;
}

.tree ul li .open-ul:before {
    border-width: 6px;
    margin-left: 0.7em;
    margin-top: -2px;
    border-color: transparent #369 #369 transparent;
}

.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}

.tree li a {
    text-decoration: none;
    color:#369;
    font-weight:700;
}

.tree li .add-node, .tree li .remove-node, .tree li .edit-node, #countDown {
    background: #369;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 35%;
    border-radius: 35%;
    padding: 0.3rem 0.56rem;
}

#countDown {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.tree li .remove-node {
    margin-left: 0.3em;
    padding: 0.3rem 0.7rem;
}

.tree li .add-node {
    margin-left: 0.3em;
}

.tree li .edit-node {
    padding: 0.3rem 0.4rem;
}

.btn {
    margin-left: 12px;
}

.btn-secondary {
    margin-left: auto;
}
